
<div>
    <h1>Quotes</h1>
    <hr color="red">
    <ul>
       <div *ngFor='let quote of quotes; let i = index'>
        <li appHighlight> 
            {{quote.id}}
          {{quote.quote}}
          
        </li>
        <button (click)='toggleDetails(i)'>Toggle Details</button>
        <app-quote-details *ngIf='quote.showDescription'[quote]='quote'(isComplete) = 'completeQuote($event,i)'></app-quote-details>
    </div>
    </ul>
  </div>
  <div class="col-md-6">
<app-form (addQuote)="addNewQuote($event)"></app-form>
</div>